body {
    background-color: rgb(255, 194, 81);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dispensa  {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(243, 225, 144);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}


.dispensa h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
 
.dispensa div p {
    font-size: 1.5rem;
}

#grocery {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}